<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>図書の登録</h1>
    <form action="{{url_for('insert')}}" method="get">
        タイトル：<input type="text" name="title"><br>
        作者：<input type="text" name="author"><br>
        出版社：<input type="text" name="publisher"><br>
        ISBN：<input type="text" name="isbn"><br>
        <button type="sbumit">登録</button>
    </form>

</body>
</html>